div#tools-progress.dashboard-progress
    span

div.dashboard-sidebar-container

div.dashboard-view
    #deviceSession
        h2 {{device.name}}

        p {{ currentState }}

        div(ng-repeat="(schemaName, schemaValues) in dataSchema")
            h4 {{ schemaName }}
            div(static-include="getControlUrl(schemaValues)")



