div#tools-progress.dashboard-progress
    span


div.dashboard-sidebar-container
    div.dashboard-sidebar
        div
            hr
            a#profileNameModel.active(href="javascript:void(0)")
                i.fa.fa-floppy-o
                span &nbsp; Save Profile
            hr

        div(ng-show="profiles.length > 0")
            ul(ng-repeat="profile in profiles")
                li(ng-class="{active: (currentProfileId === profile._id)}")
                    div.inline-block-children
                        div.width-80.elipsis-overflow
                            a(href="javascript:void(0)" ng-bind="profile.profileName" ng-click="switchProfile($index)")
                        div.width-10.elipsis-overflow.highlightOnHover(ng-click="deleteProfile($index)")
                            i.fa.fa-trash

            hr


div.dashboard-view
    #deviceSession
        div(ng-hide="hideError || modalShowing")
            p.error
                i.fa.fa-exclamation-triangle
                span &nbsp; {{ errorMessage }}


        // TODO: Don't display schema templates that don't exist

        div(ng-repeat="(schemaName, schemaValues) in dataSchema")
            div(static-include="getControlUrl(schemaValues)")



