#projects
    #projectRow.row
        .noResults(ng-show='!projects')
            p Looks like there are no projects here
        .project(ng-repeat="project in projects" ng-cloak)
            hr
            div.project-title
                a(ng-href="#/viewProject/{{project._id}}/")
                    h3.project-name          {{project.name}}  {{project.version}}
                a.remove-icon(href="#") 
                        i.fa.fa-remove 
            p.project-description(ng-hide="!project.description")     {{project.description}}
            p.project-info-summary
                span {{project.users.length + project.admins.length}} Contributors 
                i.fa.fa-circle 
                span 2 Connected Devices

        hr
                

