#projects
    #projectRow.row
        .project(ng-repeat="project in projects" ng-cloak)
            hr
            div.project-title
                a(ng-href="#/viewProject/{{project._id}}/")
                    h3.project-name          {{project.name}}  {{project.version}}
                a.remove-icon(href="#") 
                        i.fa.fa-remove 
            p.project-description(ng-hide="!project.description")     {{project.description}}

        hr
                

