div#tools-progress.dashboard-progress
    span

div.dashboard-sidebar-container

div.dashboard-view
    #userPreferences
        form(method="post" ng-submit="saveUserPrefs()" class="forms" name="userPreferencesForm" novalidate)


