b-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results

public/js/app.js
public/js/libs.js
public/css/*
public/fonts/*

npm-debug.log
node_modules
bower_components

.sass-cache
.DS_Store

httpRequests.log

