doctype html
html(ng-app="authModule")
head
    title Authentication
    link(href='/css/kube.css', rel='stylesheet')
    link(href='/css/auth.css', rel='stylesheet')
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' rel='stylesheet')
    block favicon

body
     div(ng-view)


script(src="/js/libs.js")
script(src="/js/app.js")