doctype html
html(ng-app="authModule")
    head
        title Authentication
        include ./includes/css.jade
        link(href='/css/auth.css', rel='stylesheet')       
        include ./includes/favicon.jade

    body
        div(ui-view)

        script(src="/js/libs.js")
        script(src="/js/app.js")