doctype html
html(ng-app="dashboardModule")
head
    title Projects
    link(href='/css/kube.css', rel='stylesheet')
    link(href='/css/dashboard.css', rel='stylesheet')
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' rel='stylesheet')

body
    header.dashboard-header
        div.nav-wrapper
            nav.navbar
                ul
                    li.active
                        a(href="#") 
                            h4 Projects

    div.dashboard-outer
        div.dashboard-sidebar-container
            div.dashboard-sidebar
                hr
                ul
                    li.active
                        a(href="?sortType=name") Sort by Name (A-Z)
                    li      
                        a(href="?sortType=name&sortType=desc") Sort by Name (Z-A)
                    li
                        a(href="?sortType=accessed&sortType=desc") Sort by Last Accessed
                hr
                ul
                    li
                        a(href="#/createProject") Create Project
                hr
                ul    
                    li
                        a(href="#/help") Help
                hr


        div.dashboard-view(ng-view)


script(src="/js/bundle.js")