script(type='text/javascript').
    var oldieCheck = Boolean(document.getElementsByTagName('html')[0].className.match(/\soldie\s/g));
    if(!oldieCheck) {
        document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"><\/script>');
    } else {
        document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"><\/script>');
    }

//script(data-main="js/app" src="js/libs/require.js")
script(gumby-touch="js/libs" src="js/libs/gumby.min.js")
script(src='js/plugins.js')   
script(src='js/gumbymain.js')    

script(src='js/libs/angular.js')
script(src='js/libs/angular-resource.js')
// TODO: Use require.js
// TODO: Choose correct .js file for each page
script(src='js/app/projects.js') 

| <!--[if lt IE 7 ]>
| <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
| <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
| <![endif]-->