doctype html
html(ng-app="authModule")
head
    title Login Page
    link(href='/css/kube.css', rel='stylesheet')

body(ng-controller="loginController")

    div(class="units-row")
        div(class="unit-50") Hello world
            p {{ username }}
        
        div(class="unit-50") It's Kube Grid System
            form(method="post" action="" class="forms")
                label Email
                    input(type="email" name="user-email" class="width-50" ng-model="username")
                label Password
                    input(type="password" name="user-password" class="width-50" ng-model="password")
                p
                    button(class="btn-blue width-50") Log in
                    button(class="btn") Cancel


    script(src="/js/bundle.js")