extend layout
block content
    h3 Login
    div.content
        form(action='/login', method='post')
            .row.collapse
                .large-2.columns
                    label Username:
                .large-6.columns
                    input(type='text', name='username')
            .row.collapse
                .large-2.columns
                    label Password:
                .large-6.columns
                    input(type='password', name='password')
            .row.collapse
                .large-8.columns
                    input(type='submit', value='Log In', class='small button')
                    a(href='./sign_up' class='small button') Sign Up

