extends ./layout.jade

block content
    #titleRow.row
        h2= title
    #projects(ng-controller="ProjectsListController")
        #projectRow.row
            .project(ng-repeat="project in projects" ng-cloak)
                h4.projectName          {{project.name}}
                .projectVersion         Project {{project.version}}
                .projectDescription     {{project.description}}
                .projectContribs        {{project.users.length}} contributors
                .projectKey            
                    span.projectKeyTitle    API key: 
                    span.projectKeyData     {{project.objectId}}
                .medium.primary.btn
                    a(href='#') Edit

