form.control.forms(ng-model-options="{ getterSetter: true }" novalidate)
    fieldset
        legend
            span(ng-bind="schemaName")

        spectrum-colorpicker.colorpicker(
                    ng-model="getSetColorAsInteger(currentState[schemaName], schemaName)"
                    ng-change="notifyPendingUpdate(schemaName)"
                    options="{showInput: true, showAlpha: true, format: 'rgb', clickoutFiresChange: true, showInitial: true, showButtons: false }"
                    )

        i.fa.fa-spinner.fa-spin.pending-update(ng-show="pendingUpdates[schemaName]")

        div.lock-desc.form-desc(ng-show="getLockedValueCount(schemaName) > 0")
            span.fa.fa-lock
                span &nbsp; The following values are locked: &nbsp;
                span(ng-bind="getLockValuesText(schemaName)")

        div.lock-desc.form-desc(ng-show="!isValid(schemaName)")
            span.fa.fa-warning
            span &nbsp;
            span(ng-bind="getValidationMessage(schemaName)")
