form.control.forms(ng-model-options="{ getterSetter: true }")
    fieldset
        legend
            span(ng-bind="schemaName")

        spectrum-colorpicker.colorpicker(
                    ng-model="getSetColorAsInteger(currentState[schemaName], schemaName)"
                    ng-change="sendUpdate(schemaName)"
                    options="{showInput: true, showAlpha: true, format: 'rgb', clickoutFiresChange: true, showInitial: true, showButtons: false }"
                    )

        div.lock-desc.form-desc(ng-show="getLockedValueCount(schemaName) > 0")
            span.fa.fa-lock
                span &nbsp; The following values are locked: &nbsp;
                span(ng-bind="getLockValuesText(schemaName)")
