form(ng-model-options="{ getterSetter: true }")
    spectrum-colorpicker(
        ng-model="getSetColorAsInteger(currentState[schemaName])"
        ng-change="sendUpdate(schemaName)"
        options="{showInput: true, showAlpha: true, format: 'rgb'}"
        )
