form.control.forms
    fieldset
        legend
            span(ng-bind="schemaName")

        div.input-groups.width-50
            input(ng-model="currentState[schemaName].values.n" ng-change="sendUpdate(schemaName)")
