form
    label Position
        div.input-groups.width-100
            span.input-prepend x
                input(ng-model="currentState[schemaName].values.x" ng-change="sendUpdate(schemaName)")
            span.input-prepend y
                input(ng-model="currentState[schemaName].values.y" ng-change="sendUpdate(schemaName)")
            span.input-prepend z
                input(ng-model="currentState[schemaName].values.z" ng-change="sendUpdate(schemaName)")
