form.control.forms(ng-model-options="{ getterSetter: true }" novalidate)
    fieldset
        legend
            span(ng-bind="schemaName")
        div.input-groups.width-50
            input(ng-model="getModel('s', schemaName)" ng-change="sendUpdate(schemaName)")

        div.lock-desc.form-desc(ng-show="getLockedValueCount(schemaName) > 0")
            span.fa.fa-lock
                span &nbsp; The following values are locked: &nbsp;
                span(ng-bind="getLockValuesText(schemaName)")

        div.lock-desc.form-desc(ng-show="!isValid(schemaName)")
            span.fa.fa-warning
            span &nbsp;
            span(ng-bind="getValidationMessage(schemaName)")
