/*
    Authentication View CSS
*/

@import "mixins.less";
@import "variables.less";
@import "elements.less";


div.loginbox {
    background-color: #CFC6BC;
    padding: 50px;
}

@media (min-width: 767px) {
    div.loginbox {
        margin-top: 100px;
        margin-bottom: 100px;
        margin-left: auto;
        margin-right: auto;
        padding: 50px;
        padding-bottom: 20px;
        width: 475px;

        .border-radius(10px, 10px, 10px, 10px);

    }

    body {
        background: url('/img/bg.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }   
}


.loginbox > h1 {
    font-size: 44px;
}

.loginbox hr {
    border-top-color: #FFFFFF;
}

