/*
    Dashboard View CSS
*/

@import "mixins.less";
@import "variables.less";
@import "elements.less";

@center-width: 580px;
@sidebar-width: 200px;
@header-height: 50px;

@side-bar-top: 30px;
@side-bar-font: 'Open Sans', sans-serif;
@side-bar-spacing: 25px;

@project-info-summary-size: @font-size-base * 0.8;

@header-color: #8C8C90;


.inline-block > * {
    display: inline-block;
}

header.dashboard-header {

    height: @header-height;
    background-color: @header-color;
    width: 100%;
 
    div.nav-wrapper {
        width: @center-width;
        height: 100%;

        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    div.nav-wrapper > nav.navbar {
        height: 100%;
        margin: 0;

        ul {
            height: 100%;
            margin: 0;
        }

        ul li {
            width: 100px;
            height: 100%;
            background-color: #EEEEEE;
            text-align: center;
        }

        ul li a,
        ul li a > *   {
            line-height: @header-height;
        }
    }

}

div.dashboard-outer {

    div.dashboard-view {
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 580px;
        padding: 50px;
        padding-top: 30px;
        background-color: #FFFFFF;
        min-height: 600px;
    }

    div#projects {
        margin-top: 0px;
    }

    div#projects .project {
        margin-top: 25px;
        margin-bottom: 25px;

        div.project-title {
            line-height: @font-size-h3-lg;
        }

        div.project-title > * {
            display: inline-block;
            vertical-align: middle;
        }

        a {
            text-decoration: none;
        }

        a.remove-icon {
            margin-left: 10px;
            margin-bottom: 0.25em;
            color: #8C8C90;
        }

        p.project-description {
            max-height: 3.5em;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 10px;
        }

        p.project-info-summary {

            font-size: @project-info-summary-size;
            color: #A6A6A6;
            margin-bottom: @base-line * 0.4;

            i {
                margin-left: 4px;
                margin-right: 6px;
                line-height: @project-info-summary-size;
                font-size: 6px;
                vertical-align: middle;
                margin-bottom: 2px;

            }
        }
    }
}

div.dashboard-sidebar-container {
    position: relative;
    width: @center-width + (@sidebar-width * 2);
    margin: auto;
    z-index: 1;

    div.dashboard-sidebar {
        float: left;
        width: @sidebar-width;
        margin: auto;
        background-color:rgba(0,0,0,0);
        margin-top: @side-bar-top;
    }

    hr {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    ul {
        padding: 0;
        margin: 0;

        li {
            list-style: none;
            line-height: @font-size-base + (@side-bar-spacing * @px-per-em);

            a {
                text-decoration: none;
                font-family: @side-bar-font;
                color: @color-blue;
            }
        }

        li.active {
            font-weight: 600;
        }
    }


}
