@kube-path: "../../bower_components/kube/less";

@import "@{kube-path}/mixins.less";
@import "elements.less";
@import "variables.less";

@media (min-width: 767px) {
    body {
        background: url('/img/bg.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }   
}

// Hide elements before loading
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
  display: none !important;
}

// Kube override. Ubuntu font looks bad bold at smaller sizes
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

.inline-children > * {
    display: inline;
}

a.plain-link {
    text-decoration: none;   
}

